
<div class="container">
  <mat-sidenav mode="over" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/pokedex">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Pokedex</span>
      </a>
      <a mat-list-item routerLink="/team">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span mat-line>Pokedex Team</span>
      </a>
      <a mat-list-item routerLink="/login">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span mat-line>Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
