:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidenav-content-router{
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.sidenav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.nav-list{
  height: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
