
<mat-sidenav-container class="container" >
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/pokedex">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Pokedex</span>
      </a>
      <a mat-list-item routerLink="/team">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span mat-line>Pokedex Team</span>
      </a>
      <a mat-list-item routerLink="/login">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span mat-line>Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content-router">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
