.matgridlist{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.mat-card{
  width: 250px;
  height: 200px;
  margin: 10px;
}

.image_css {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content-info{
  display: flex;
  justify-content: center;
}

.card-actions-bp{
  display: flex;
  justify-content: center;
}

.header-image_notConnected{
  height: 500px;
  width:  400px;
}

.header-image_noTeam {
  height: 400px;
  width:  600px;
}

.matCard_noTeam{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bp-size-2
{
  top: 20px;
  height: 30px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
