<ng-container *ngIf="connected == false">
  <mat-card class="matCard_noTeam">
    <mat-card-header>
      <img mat-card-lg-image
        src="https://media.electre-ng.com/images/image-id/c9b0c96d15ed8f6c6aa6fbd584be64c0971faa02262d7a9a21e28abf91aa39d8.jpg"
        class="header-image_notConnected"/>
    </mat-card-header>

    <p></p>

    <mat-card-title>T E A M -- P O K E D E X</mat-card-title>
    <mat-card-subtitle>Information</mat-card-subtitle>

    <mat-card-content>
      <p></p>
      <p>Not connected.</p>
    </mat-card-content>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</ng-container>


<ng-container *ngIf="teamPokemon.length <= 0 && connected == true">
  <mat-card class="matCard_noTeam">
    <mat-card-header>
      <img mat-card-lg-image
        src="https://www.elheraldo.co/sites/default/files/styles/widht_760/public/articulo/2016/07/07/ash_y_pokemons_0.jpg?itok=yVrZII7i"
        class="header-image_noTeam"/>
    </mat-card-header>

    <p></p>

    <mat-card-title>T E A M -- P O K E D E X</mat-card-title>
    <mat-card-subtitle>Information</mat-card-subtitle>

    <mat-card-content>
      <p></p>
      <p>No Pokemon in the team.</p>
    </mat-card-content>
    <mat-card-content>
      <button mat-raised-button color="primary" (click)="goToPokedex()" class="raised-button-size" >Pokedex</button>
    </mat-card-content>
  </mat-card>
</ng-container>


<ng-container *ngIf="connected == true && teamPokemon.length >= 1">
  <mat-grid-list cols="3" class="matgridlist" *ngFor="let pokemon of teamPokemon">
    <mat-card>
      <mat-card-header routerLink="../pokedex/{{pokemon.id}}">
        <div class="image_css">
          <img mat-card-lg-image src="assets/img/official-artwork/{{pokemon.id}}.png"/>
        </div>
      </mat-card-header>
      <mat-card-content class="card-content-info">
        <p>No. {{pokemon.id | number: '3.0-0'}} - {{ pokemon.name }}</p>
      </mat-card-content>
      <mat-card-actions class="card-actions-bp">
        <button mat-icon-button (click)="moveLeft(pokemon)" [disabled]="teamPokemon.indexOf(pokemon) === 0">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button (click)="remove(pokemon)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="moveRight(pokemon)" [disabled]="teamPokemon.indexOf(pokemon) === teamPokemon.length - 1">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-list>
</ng-container>
