<mat-form-field appearance="fill">
  <mat-label>Pokemon Recherche</mat-label>
  <input matInput #searchBox id="pokemon-search-box" placeholder="Nom Id" [ngModel]="query" (ngModelChange)="search(searchBox.value)" />
  <button matSuffix mat-icon-button aria-label="Clear" *ngIf="query" (click)="clearSearch()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-form-field>


<mat-nav-list infinite-scroll (scrolled)="onScroll()"  [scrollWindow]="false" class="mat-nav-list-pokemon" id="pokemons-liste" role="list" #liste>
  <mat-list-item *ngFor="let pokemon of pokemons?.data" (click) ="selectPokemon(pokemon)" role="listitem" >
    <a routerLink="pokedex/{{pokemon.id}}" style="display:none;"></a>
    <img matListItemAvatar
      src="assets/img/sprites/{{pokemon.id}}.png"
      alt="image pokemon {{pokemon.name}}">
    <p matListItemLine>
      <span>{{pokemon.id}}</span>
      <span>.  </span>
      <span>{{pokemon.name}}</span>
    </p>
  </mat-list-item>
</mat-nav-list>
